PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/safarplug
JWT_ACCESS_SECRET=someaccesssecretkeyhere
JWT_REFRESH_SECRET=somerefreshsecretkeyhere
CLOUDINARY_CLOUD_NAME=yourcloudinarycloudname
CLOUDINARY_API_KEY=yourcloudinaryapikey
CLOUDINARY_API_SECRET=yourcloudinaryapisecret
RAZORPAY_KEY_ID=yourrazorpaykeyid
RAZORPAY_KEY_SECRET=yourrazorpaykeysecret
GOOGLE_MAPS_SERVER_KEY=yourgooglemapsserverkey
CORS_ORIGIN=*
